* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(228, 228, 248);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline-block;
    background-color: rgb(137, 221, 215);
    color: rgb(61, 60, 60);
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 60px;
    font-size: 50px;
    font-weight: 300;
}

header {
    background-color: rgb(55, 55, 55);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    font-size: 25px;
    padding-top: 30px;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    border-bottom: 4px solid rgb(137, 221, 215);
    color: rgb(137, 221, 215);
    margin: 5px;
    text-decoration: none;
}

#hero {
    background-image: linear-gradient(to right,rgb(137, 221, 215),rgb(55, 55, 55),rgb(36, 36, 73));
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#subtitle {
    background-color: rgb(137, 221, 215);
    color: rgb(61, 60, 60);
    display: inline-block;
    float: right;
    font-size: 35px;
    font-weight: 300;
    padding: 7px;
    margin-top: 200px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: rgb(137, 221, 215);
}

p {
    color:rgb(61, 60, 60)
}

h3 {
    color: rgb(61, 60, 60);
}

h2 {
    color: rgb(61, 60, 60);
    display: inline-block;
    color: rgb(36, 36, 73);
    /* float: left; */
}

footer {
    color: rgb(61, 60, 60)
}

article {
    display: inline-block;
    border-left: 4px solid rgb(36, 36, 73);
    width: 75%;
    float: right;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    /* display: inline-block; */
    border-left: 4px solid rgb(36, 36, 73);
    width: 75%;
    float: right;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    
}

footer {
    /* display: inline-block; */
    border-left: 4px solid rgb(36, 36, 73);
    width: 75%;
    float: right;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 1.5rem;
}

footer ul li {
    list-style: none;
    display: inline-block;
}

.container div {
    border: 4px solid rgb(137, 221, 215);
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 8rem;
    margin: 10px;
    justify-content: space-between;
}

#bigbox {
    width: 95%;
    height: 20rem;

}